{% extends "webca/web/base.html" %}
{% load webca %}
{% block style %}
<style>
</style>
{% endblock style %}
{% block content %}
<h2>Request a certificate</h2>
<p>In this section you can start the process to request a certificate.</p>
<p>To begin, choose a type of certificate below:</p>
{% if templates %}
<form action="{% url 'req:new' %}" method="post">
    {% csrf_token %} {{ templates_form }}
    <input type="submit" value="Start" />
</form>
{% else %}
<p>Sorry, you cannot request any certificate yet.</p>
{% endif %}
<h3>Your requests</h3>
{% if request_list %}
<p>These are the requests that you have made already.</p>
<table>
    <tr>
        <th>Request</th>
        <th>Type</th>
        <th>Approval</th>
        <th>Status</th>
        <th>Certificate status</th>
        <th>Download</th>
        <th>Notes</th>
    </tr>
    {% for req in request_list %}
    <tr>
        <td>
            <a target="blank" href="{% url 'req:view_cert' req.id %}">{{ req }}</a>
        </td>
        <td>{{ req.template.name }}</td>
        <td>{% if req.template.auto_sign %}&nbsp;{% else %}{{ req.approved|approval }}{% endif %}</td>
        <td>{{ req.get_status_display }}</td>        
        <td>{% if req.certificate %}{{ req.certificate|status }}{% else %}&nbsp;{% endif %}</td>
        <td>{% ifequal req.status issued %}
            <a href="{% url 'req:download_pem' req.id %}">PEM</a>&nbsp;<a href="{% url 'req:download_crt' req.id %}">DER</a>
            {% else %}&nbsp;{% endifequal %}</td>
        <td>{{ req.reject_reason }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>You haven't made any requests yet</p>
{% endif %}
{% endblock content %}

{% block sidebar %}
<h3>Links</h3>
<ul class="links">
    <li><a href="{% url 'req:examples' %}">Request examples</a></li>
</ul>
{% endblock sidebar %}