{% extends "webca/web/base.html" %}
{% load webca %}

{% block content %}
<h2>Revoke a certificate</h2>
<p>In this section you can start the process to revoke a certificate.</p>
<p>
    A certificate may be revoked if there is no further need to use it,
    because the keys have been compromised or because of some other reason.
    <b>Please note that even if the certificate will be revoked immediately,
        it may take some time for clients to update the revocation status.</b>
</p>
<h3>Your certificates</h3>
{% if certificates %}
<p>These are the certificates that may be revoked. Only revocable certificates are shown.</p>
<table>
    <tr>
        <th class="text_left">Certificate</th>
        <th>Valid until</th>
        <th>Actions</th>
    </tr>
    {% for cert in certificates %}
    <tr>
        <td class="text_left">{{ cert.subject_filename }}</td>
        <td>{{ cert.valid_to|date }}</td>
        <td>
            {% if not cert.is_revoked %}
            <a href="{% url 'revoke:revoke' cert.id %}">Revoke</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>You don't have any certificate that may be revoked yet.</p>
{% endif %}
{% endblock content %}
