{% extends "webca/web/base.html" %}
{% load webca widget_tweaks %}

{% comment %} {% block content_class %}two_cols{% endblock content_class %} {% endcomment %}

{% block content %}
<h2>New Request</h2>
{% if form %}
<p>Here you need to fill in the required details for your new certificate.</p>
<form action="{% url 'request:submit' %}" method="post">
    {% csrf_token %} {{ form.template.as_hidden }}
    <h3>Certificate type</h3>
    <table class="details">
        <tr>
            <th>Name</th>
            <td>{{ form.template_obj.name }}</td>
        </tr>
        <tr>
            <th>Valid for</th>
            <td>{{ form.template_obj.days|valid_for }} ({{ form.template_obj.days|valid_until|date }})</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ form.template_obj.description }}</td>
        </tr>
    </table>
    <h3>Certificate name</h3>
    {{ form.non_field_errors }}
    <p>Your certificate must have a name.</p>
    <table class="no_border">
        {% if form.cn.errors%}<tr><td colspan="2">{{ form.cn.errors }}</td></tr>{% endif %}
        <tr>
            <td>{{ form.cn.label_tag }}</td>
            <td class="text_left">{{ form.cn|add_class:"longest" }}</td>
        </tr>

        {% if form.template_obj.required_subject == DN or form.template_obj.required_subject == DN_PARTIAL %}
            {% if form.template_obj.required_subject == DN %}
            <tr><td colspan="2" class="text_left"><p>Please fill <b>all</b> of the following fields:</p></td></tr>
            {% elif form.template_obj.required_subject == DN_PARTIAL %}
            <tr><td colspan="2" class="text_left"><p>The following fields are not required
            and may be left blank but it's highly recommended to fill them in:</p></td></tr>
            {% endif %}
            {% if form.country.errors%}<tr><td colspan="2">{{ form.country.errors }}</td></tr>{% endif %}
            <tr>
                <td>{{ form.country.label_tag }}</td>
                <td class="text_left">{{ form.country|add_class:"longest" }}</td>
            </tr>
            {% if form.state.errors%}<tr><td colspan="2">{{ form.state.errors }}</td></tr>{% endif %}
            <tr>
                <td>{{ form.state.label_tag }}</td>
                <td class="text_left">{{ form.state|add_class:"longest" }}</td>
            </tr>
            {% if form.locality.errors%}<tr><td colspan="2">{{ form.locality.errors }}</td></tr>{% endif %}
            <tr>
                <td>{{ form.locality.label_tag }}</td>
                <td class="text_left">{{ form.locality|add_class:"longest" }}</td>
            </tr>
            {% if form.org.errors%}<tr><td colspan="2">{{ form.org.errors }}</td></tr>{% endif %}
            <tr>
                <td>{{ form.org.label_tag }}</td>
                <td class="text_left">{{ form.org|add_class:"longest" }}</td>
            </tr>
            {% if form.ou.errors%}<tr><td colspan="2">{{ form.ou.errors }}</td></tr>{% endif %}
            <tr>
                <td>{{ form.ou.label_tag }}</td>
                <td class="text_left">{{ form.ou|add_class:"longest" }}</td>
            </tr>
        {% elif form.template_obj.required_subject == USER %}
        {% if form.email.errors%}<tr><td colspan="2">{{ form.email.errors }}</td></tr>{% endif %}
            <tr>
                <td>{{ form.email.label_tag }}</td>
                <td class="text_left">{{ form.email|add_class:"longest" }}</td>
            </tr>
        {% endif %}
        {% if form.san %}
        <tr><td colspan="2" class="text_left">
            <p>With this type of certificate you can add Subject Alternative Names if needed.
                This allows the certificate to be valid for other names.</p>
        </td></tr>
        {% if form.san.errors%}<tr><td colspan="2">{{ form.san.errors }}</td></tr>{% endif %}
        <tr><td colspan="2">{{ form.san }}</td></tr>
        {% endif %}
    </table>
    <h3>Public key</h3>
    <p>To request a certificate you need to generate a private and public key
        and then send us the public key.<br/>You need to paste here a Base64 encoded PEM certificate request.
        <br/><a target="blank" href="{% url 'request:examples' %}">How do I get one?</a>
    </p>
    <p>For this type of certificate the minimum size of the public key is:</p>
    <table class="details">
{% if KEY_RSA in allowed_key_types %}
        <tr><th>RSA</th><td>{{ form.template_obj.min_bits_rsa }}</td></tr>
{% endif %}
{% if KEY_DSA in allowed_key_types %}
        <tr><th>DSA</th><td>{{ form.template_obj.min_bits_dsa }}</td></tr>
{% endif %}
{% if KEY_EC in allowed_key_types %}
        <tr><th>EC</th><td>{{ form.template_obj.min_bits_ec }}</td></tr>
{% endif %}
    </table>
    <table class="no_border csr">
        {% if form.csr.errors%}<tr><td colspan="2">{{ form.csr.errors }}</td></tr>{% endif %}
        <tr><td class="text_left">{{ form.csr.label_tag }}</td></tr>
        <tr><td class="text_left csr">{{ form.csr|attr:"rows:10"|attr:"width:40" }}</td></tr>
    </table>
    {% if not form.template_obj.auto_sign %}
    <p>This template requires approval. Once you submit the request, the approval process will begin. Please check back later.</p>
    {% endif %}
    <p><input type="submit" value="Submit the request" />
        <input type="button" value="Go back" onclick="javascript:location='{% url "request:index" %}';"/></p>
</form>
{% else %}
<p>There are no templates available.</p>
{% endif %}
{% endblock content %}
