{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
{% block style %}
<style>
    .module li {
        list-style-type: circle;
    }
</style>
{% endblock style %}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo;
{{ title }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module">
        {% block left_column %}
        
        {% endblock left_column %}
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module">
        {% block sidebar_items %}
        
        {% endblock sidebar_items %}
    </div>
</div>
{% endblock %}
