{% extends "ca_admin/base_page.html" %}
{% load i18n static %}

{% block style %}
<style>
    table {
        width: 100%;
    }
    #content-main td:first-of-type {
        width: 30%;
    }
    #crl_settings input {
        text-align: right;
    }
</style>
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module">
        <table>
            <caption>Current CRL status</caption>
            <tr>
                <td>Location</td>
                <td>{{ config.path }}</td>
            </tr>
            <tr>
                <td>Last update</td>
                <td>{{ config.last_update|default:"Never" }}</td>
            </tr>
            <tr>
                <td>Next update</td>
                <td>{{ config.next_update|default:"Who knows" }}</td>
            </tr>
            <tr>
                <td>Last delta update</td>
                <td>{{ config.delta_last_update|default:"Never" }}</td>
            </tr>
            <tr>
                <td>Next delta update</td>
                <td>{{ config.delta_next_update|default:"Who knows" }}</td>
            </tr>
            <tr>
                <td>Last message</td>
                <td>{{ config.status }}</td>
            </tr>
            <tr>
                <td>Revoked certificates count</td>
                <td>{{ revoked_count }}</td>
            </tr>
        </table>
        <form action="{% url 'admin:crl_status_update' %}" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="errors">{{ form.non_field_errors }}</div>
            {% endif %}
            <table id="crl_settings">
                <caption>CRL Publishing settings</caption>
                {% if form.days.errors %}
                <tr><td colspan="2" class="errors">{{ form.days.errors }}</td></tr>
                {% endif %}
                <tr>
                    <td><p>Publish a full CRL every</p></td>
                    <td><input name="{{ form.days.name }}" value="{{ form.days.value }}"/> days</td>
                </tr>
                {% if form.delta_days.errors %}
                <tr><td colspan="2" class="errors">{{ form.delta_days.errors }}</td></tr>
                {% endif %}
                <tr>
                    <td><p>Publish a delta CRL every</p></td>
                    <td><input name="{{ form.delta_days.name }}" value="{{ form.delta_days.value }}"/> days</td>
                </tr>
                {% if form.path.errors %}
                <tr><td colspan="2" class="errors">{{ form.path.errors }}</td></tr>
                {% endif %}
                <tr>
                    <td><p>Publishing path</p></td>
                    <td><input name="{{ form.path.name }}" type="text" style="width: 100%" value="{{ form.path.value }}"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Update settings"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module">
        <h4>Actions</h4>
        <ul>
        </ul>
    </div>
</div>
{% endblock %}
