{% load static i18n %}<!DOCTYPE html>
<html>
    <head>
        <title>{% if page_title %}{{ page_title }} | {% else %}{% if section_title %}{{ section_title}} | {% endif %}{% endif %}{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{% static '/webca/css/base.css' %}">
        {% block head %}{% endblock head %}        
        {% block style %}{% endblock style %}        
    </head>
    <body onload="{% block onload %}{% endblock onload %}">
        <div id="container">
            <div id="header">
                <h1 id="title"><a href="{% url 'webca:index' %}">{{ title }}</a></h1>
                <div id="header_tools">
                    <p>{% if user.is_authenticated %}
                        Hi, {{ user.email }} / <a href="{% url 'auth:keys_setup' %}">Setup key login</a> / <a href="{% url 'auth:logout' %}">Log out</a>.
                        {% else %}
                        <a href="{% url 'auth:keys' %}">Log in</a>.
                    {% endif %}</p>
                {% block header_tools %}
                {% endblock header_tools %}
                </div>
            </div>
            {% block breadcrumbs %}
            <div id="breadcrumbs">
                <a href="{% url 'webca:index' %}">{% trans 'Home' %}</a>
                {% if section_title %} &rsaquo; {% if section_url %}<a href="{{ section_url }}">{{ section_title }}</a>{% else %}{{ section_title }}{% endif %}{% endif %}
                {% if page_title %} &rsaquo; {{ page_title }}{% endif %}
            </div>
            {% endblock breadcrumbs %}
            {% block messages %}
                {% if messages %}
                    <ul id="messages">{% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}
            <div id="outer_container">
                <div id="inner_container" class="{% block content_class %}one_col{% endblock content_class %}">
                    <div id="content">{% block content %}{% endblock content %}</div>
                    {% if show_sidebar %}
                    <div id="sidebar">{% block sidebar %}{% endblock sidebar %}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
